<a href="https://colab.research.google.com/github/Shivaram17/100DaysOfAdvancedPythonCoding/blob/main/10038AdvancedPython_mappingSequence_namedtuple_stocks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#finding minimum value in a dictionary
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}

min_value = prices[min(prices, key = lambda k: prices[k])]
min_value

10.75

In [11]:
#mapping sequence using named tuple
from collections import namedtuple
stock = namedtuple('Stock', ['name', 'shares', 'price'])
s = stock('AAPL', '100', '250')
s.shares

def compute(records):
  total = 0.0
  for rec in records:
    s = stock(*records)
    total = s.shares * s.price
  return total

records = ('AAPL', 2, 250) #, ('AL', 1, 350), ('FB', 1, 150)]
t = compute(records)
t

500