<a href="https://colab.research.google.com/github/Shivaram17/100DaysOfAdvancedPythonCoding/blob/main/10039AdvancedPython_DictToStock_namedtuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# function to create a stock from a dict
from collections import namedtuple
from datetime import datetime
Stock = namedtuple("Stock", ['name', 'shares', 'price', 'date', 'time'])
stock_prototype = Stock('', 0, 0.0, None, None)
# function 
def dict_to_stock(s):
  return stock_prototype._replace(**s)
d =  datetime.now()
a = {'name':'AAPL', 'shares': 100, 'price': 100, 'date': d  }
b = dict_to_stock(a)
b

Stock(name='AAPL', shares=100, price=100, date=datetime.datetime(2022, 3, 3, 13, 34, 37, 492143), time=None)