<a href="https://colab.research.google.com/github/Shivaram17/100DaysOfAdvancedPythonCoding/blob/main/10047AdvancedPython_InbuiltTextFileReader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


df1 = pd.DataFrame({"Col1": [1, 2, 3,4],
					"Col2": ["A", "B", "C", "Null"],
					"Col3": ["geeks", "for", "geeks", "Null"]})

print("First dataframe:")
display(df1)
df3 = df1.loc[(df1['Col2'] == "A") | (df1['Col2'] == "C")]
df4 = df1.loc[df1['Col2'] == "B"]
df5 = pd.DataFrame()
df6 = pd.DataFrame()
df5['Genesis_USD'] = df3['Col3']
df6['FFS_USD'] = df4['Col3']
df1 = df1.join(df5)
df1 = df1.join(df6)
print("Second dataframe after adding column from first dataframe:")
display(df1)

First dataframe:

   Col1  Col2   Col3
0     1     A  geeks
1     2     B    for
2     3     C  geeks
3     4  Null   Null

Second dataframe after adding column from first dataframe:

   Col1  Col2   Col3 Genesis_USD FFS_USD
0     1     A  geeks       geeks     NaN
1     2     B    for         NaN     for
2     3     C  geeks       geeks     NaN
3     4  Null   Null         NaN     NaN

In [ ]:
  s = '{name} has {n} messages'
  s = s.format(name = 'Nikhil Gaddam', n=38)
  s

'Nikhil Gaddam has 38 messages'

In [20]:
# in built text file reader
path = 'SOP_FEB-AUG.txt'
f = open(path)
# lines = [x.strip() for x in f]
f.read(10)
f.tell()
f.seek(4)
# f.close()

# lines

4