<a href="https://colab.research.google.com/github/Shivaram17/100DaysOfAdvancedPythonCoding/blob/main/10067AdvancedPython_Pandas_Axis_Summarizing_Describe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# function application and mapping
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.rand(4,4), columns = list('abcd'),
                     index = ['Bas', 'Chin', 'San', 'Sai'])
frame
# apply func
f = lambda x: x.max() - x.min()
frame.apply(f, axis = 'columns')
# applymap for formating elementwise operations
format = lambda x: '%.2f' % x
frame.applymap(format)
# series 
frame['c'].map(format)

Bas     0.66
Chin    0.88
San     0.17
Sai     0.34
Name: c, dtype: object

In [ ]:
# sorting columns by sort_ index
frame = pd.DataFrame(np.arange(8).reshape(2,4),
                    index = ['three', 'one'],
                     columns = list('dbca'))
frame.sort_index()
# desc
frame.sort_index(axis =1, ascending= False)
# to sort a series by its values, use its sort_values method
obj = pd.Series([4,5,-7,6])
obj.sort_values()
# any missing values are sorted to the end of the series by default
obj1 = pd.Series([4,np.nan,8,-9,np.nan,6])
obj1.sort_values()

3   -9.0
0    4.0
5    6.0
2    8.0
1    NaN
4    NaN
dtype: float64

In [13]:
# axis duplicates
import pandas as pd
import numpy as np
a = pd.Series(range(5), index = ['a', 'a','b', 'b', 'c'])
a.index.is_unique

# dataframe
b = pd.DataFrame(np.random.rand(4,3), index = ['a', 'a', 'b', 'b'])
b.loc['b']
# summarizing and computing descriptive statistics
df = pd.DataFrame([[1.40, np.nan],[2.0, np.nan],[np.nan, 5.90]],
                  index = ['a','b','c'],
                  columns = list('xy'))
df.sum()
df.sum(axis = 'columns') # or axis = 1  adds each column value 
df.describe()

              x    y
count  2.000000  1.0
mean   1.700000  5.9
std    0.424264  NaN
min    1.400000  5.9
25%    1.550000  5.9
50%    1.700000  5.9
75%    1.850000  5.9
max    2.000000  5.9