<a href="https://colab.research.google.com/github/Shivaram17/100DaysOfAdvancedPythonCoding/blob/main/10074AdvancedPython_FetchingData_Databases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from datetime import datetime
res = pd.to_datetime('today').strftime('%d-%b-%Y')
def summary(non, mismatch):
  data = {'Date': res,
          'Total_Non-std': [non],
          'Total_Mismatch': [mismatch],
          'Non-std_fixed': [0],
          'Mismatch_fixed':[0],
          }
  df = pd.DataFrame(data)
  df['Total_Non-std'] = df['Total_Non-std'].astype(int)
  print(df)
  return df

non = 5000
mismatch = 14000
df1 =summary(non, mismatch)
# df1.to_excel('summary.xlsx')
df2 = pd.read_excel('summary.xlsx', keep_default_na = False)
df2  = df2.append(df1)
l = len(df2) 
print(l)
n = (int(df2.iloc[l-2, 2]) - int(df2.iloc[l-1, 2]))
m = int(df2.iloc[l-2, 3]) - int(df2.iloc[l-1, 3])
df2.iloc[l-1, 4] = n
df2.iloc[l-1, 5] = m
df2

          Date  Total_Non-std  Total_Mismatch  Non-std_fixed  Mismatch_fixed
0  16-Apr-2022           5000           14000              0               0

FileNotFoundError: ignored

In [2]:
# Interacting with webapis
import requests

url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp
data = resp.json()
data[0]['title']

'BUG FIX: groupby.last() no longer changes np arrays with pd.NA to dtype Int64'

In [3]:
import sqlite3

query = """ CREATE TABLE TEST4
            (a VARCHAR(20), b VARCHAR(20),
             c REAL, d INTEGER);"""


con = sqlite3.connect('mydata.sqlite')

con.execute(query)

# con.commit()
# insert a few rows of data
data = [('Atlanta', 'Georgia', 1.25, 6), ('Tallahassee', 'Florida', 2.6, 3),('Sacramento', 'California', 1.7, 5)]
stmt = 'INSERT INTO TEST1 VALUES(?,?,?,?)'
con.executemany(stmt, data)
# con.commit()
# fetch
cursor = con.execute('select * from TEST1')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]