<a href="https://colab.research.google.com/github/Shivaram17/100DaysOfAdvancedPythonCoding/blob/main/10089AdvancedPython_DataWrangling_Reordering_multiindex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Hierarchical indexing
data1 = pd.Series(np.random.rand(9), index = [['a', 'a', 'a', 'b', 'b', 'b','c','c','d'],
                                            [1,2,3,4,5,6,7,8,9]])
data1['b']
data1[4:]
data1['b':'d']
data1.loc[['b','d']]
data1.loc['b':,:]
# Hierarchical data is useful in reshaping the data   and group based operations like forming a pivot table\
data1.unstack().stack()

a  1    0.779624
   2    0.728688
   3    0.046360
b  4    0.240540
   5    0.788365
   6    0.606997
c  7    0.567579
   8    0.366556
d  9    0.023182
dtype: float64

In [14]:
#Reordering the index
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(12).reshape(4,3), 
                     columns = [['Ohio', 'Colarado', 'Colarado'], ['Green','Red', 'Blue']],
                     index = [['a', 'a', 'b', 'b'], [1,2,1,2]])
frame.index.names = ['key1', 'key2']
frame.columns.names = ['State', 'Color']
frame
# Reordering the indexes 
frame.swaplevel('key1', 'key2')
frame.sort_index(level = 1)
frame.swaplevel(0,1).sort_index(level = 0)
frame.sum(level = 'key2')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  del sys.path[0]

State  Ohio Colarado
Color Green      Red Blue
key2
1         6        8   10
2        12       14   16