<a href="https://colab.research.google.com/github/Shivaram17/100DaysOfAdvancedPythonCoding/blob/main/10099AdvancedPython_Groupby_Quantile_BucketAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Quantile and Bucket Analysis
import numpy as np
import pandas as pd
frame = pd.DataFrame({'data1': np.random.rand(1000),
                      'data2': np.random.rand(1000)
      })
quartiles = pd.cut(frame.data1, 4)
quartiles

0           (0.5, 0.749]
1            (0.25, 0.5]
2      (-0.000223, 0.25]
3         (0.749, 0.999]
4      (-0.000223, 0.25]
             ...
995         (0.5, 0.749]
996       (0.749, 0.999]
997       (0.749, 0.999]
998          (0.25, 0.5]
999          (0.25, 0.5]
Name: data1, Length: 1000, dtype: category
Categories (4, interval[float64, right]): [(-0.000223, 0.25] < (0.25, 0.5] < (0.5, 0.749] <
                                           (0.749, 0.999]]