<a href="https://colab.research.google.com/github/Shivaram17/100DaysOfAdvancedPythonCoding/blob/main/10096AdvancedPython_Groupby_multipleKeys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# Groupby with multiple keys
import numpy as np
import pandas as pd
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                   'key2': ['one','two','one', 'one', 'two'],
                   'data1': np.random.rand(5),
                   'data2': np.random.randn(5)}
                  )
df['data1'].groupby([df['key1'], df['key2']]).mean()

key1  key2
a     one     0.813838
      two     0.302674
b     one     0.245428
Name: data1, dtype: float64