<a href="https://colab.research.google.com/github/Shivaram17/100DaysOfAdvancedPythonCoding/blob/main/10097AdvancedPython_Groupby_Array_iteratingOverGroups_selectingsubset_columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Groupby with multiple keys
import numpy as np
import pandas as pd
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                   'key2': ['one','two','one', 'one', 'two'],
                   'data1': np.random.rand(5),
                   'data2': np.random.randn(5)}
                  )
df['data1'].groupby([df['key1'], df['key2']]).mean()

key1  key2
a     one     0.813838
      two     0.302674
b     one     0.245428
Name: data1, dtype: float64

In [18]:
# Groupby with multiple keys for an array
import numpy as np
import pandas as pd
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                   'key2': ['one','two','one', 'one', 'two'],
                   'data1': np.random.rand(5),
                   'data2': np.random.randn(5)}
                  )
cities = np.array(['Trichy', 'Hyd', 'Trichy','Hyd', 'Hyd'])
years = np.array([2005, 2006,2005,2005,2006])

df.groupby([cities, years]).mean()
df['data1'].groupby([cities, years]).mean()

# groupby size
df.groupby([cities, years]).size()

# iterating over groups
# for name, group in df.groupby(['key1']):
#   print(name)
#   print(group)

# iterating over groups with multiple keys
for (k1,k2), group in df.groupby(['key1','key2']):
  print(k1,k2)
  print(group)

# computing a dict of data pieces as a one - liner
pieces = dict(list(df.groupby('key1')))
df2 = pieces['a']
# finding mean of data1 column with key1 as a groupby
# selecting a column or subset of columns
df.groupby('key1')['data1'].mean()
df2

a one
  key1 key2     data1     data2
0    a  one  0.839621 -0.134526
a two
  key1 key2     data1     data2
1    a  two  0.724621 -0.892757
4    a  two  0.506954 -0.114544
b one
  key1 key2     data1     data2
2    b  one  0.529930  0.491837
3    b  one  0.554292 -1.407142

  key1 key2     data1     data2
0    a  one  0.839621 -0.134526
1    a  two  0.724621 -0.892757
4    a  two  0.506954 -0.114544